[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/fileDialog"]
	path = vendor/fileDialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/tlsf"]
	path = vendor/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "vendor/uuid_v4"]
	path = vendor/uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/spirv_tools"]
	path = vendor/spirv_tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "vendor/spirv_header"]
	path = vendor/spirv_header
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vendor/spirv_reflect"]
	path = vendor/spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "vendor/d3d12"]
	path = vendor/d3d12
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "vendor/dxc"]
	path = vendor/dxc
	url = https://github.com/microsoft/DirectXShaderCompiler.git
